body {
    background: #fafafa; 
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(dino.png);
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 20px;
    background-image: url(cactus.png);
}

.game-over {
    text-align: center;
    color: #666666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alinhamento {
    display: flex;
    justify-content: center;
    color: #666666;
    margin-top: 300px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

@keyframes slideright {
    from {
        background-position: 22000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 20px;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 99%;
    height: 230px;
}